<!DOCTYPE html>
<html>
<head>
  <title>GoalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if logged_in? %>
      <p>Hellow, <%= current_user.username %> !</p>
      <%= button_to "Log out", session_url, method: :delete %>
    <% else %>
      <%= link_to "Sing Up", new_user_url%><br>
      <%= link_to "Sign In", new_session_url %>
    <% end %>
  <hr>
  </header>

<%= yield %>

</body>
</html>
